header {

	background-color: #557253;

	color: white;

	padding: 15px;
}
	

	
footer {
		
	background-color: #557253;
		
	color: white;
		
	padding: 15px;
		
	box-shadow: 0px 9999px 0px 9999px #555;

}


/* Main Body Styles */


.panel-body {

	margin: auto;

	width: 80%;

	background-color: #fff;

	border-left: 3px solid #557253;

	border-right: 3px solid #557253;

	padding: 10px;

}
	

	
body {

	background-image: url("fibonacci.jpg");

	background-size: cover;

	color: #404040;
}



footer a:link {

	color: white;

}


footer a:visited {


	color: #DBEE7F;

}

	

footer a:hover {

	color: #C8C8C8;

}
	